.cardHeader {
  box-sizing: border-box;
  display: table;
  margin: auto;
  padding: 0 5px;
  position: relative;
  width: 100%;
}
.title {
  margin: 0;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.link {
  margin: 0;
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}